* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.main {
    height: 1024px;
    background-image: url(./img/backgr1.jpg);
    background-repeat: no-repeat;
}

.main__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    padding-top: 220px;
}

.main__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 32px;
}

/**.main__text_bold {
    font-style: bold;
}**/

.button {
    width: 234px;
    height: 48px;
    margin-top: 44px;
    background: #9C0332;
    border: none;
    border-radius: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}